.navigationbar
{
    height: 3rem;
}

.navigationbar-button
{
    border-width: 0;
    border-radius: 5px;

    font-size: 0.85rem;

    margin: 6px;
    padding-left: 10px;
    padding-right: 10px;
}