#root
{
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    color: #d2e0f0;
}

.primary-background
{
    background-color: #171e26;
}

.secondary-background
{
    background-color: #10161d;
}

.secondary-button
{
    background-color: transparent;
    color: #d2e0d6;
}

.secondary-button:hover
{
    background-color: #374351;
}