body
{
    margin: 0;
    padding: 0;
}

#root
{
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    --primary-background: #171e26;
    --primary-selected: #ffffff;
    --primary-text-color: #d2e0f0;
    --primary-border-color: #242d38;   

    --secondary-background: #10161d;
    --secondary-text-color: #aebed0;
    --secondary-border-color: #445161;
    --secondary-hover: #374251;

    --form-background: #1d262f;

    --searchbar-background: #2b3642;
    --searchbar-hover: #5f6e80;

    --link-color: #fb923c;
    --link-hover: #f97316;
    --link-click: #ea580c;

    --error-color: #5f2525;
    --error-border-color: #783030;
}

.main
{
    flex-grow: 1;
}

.primary-background
{
    background-color: var(--primary-background);
}

.secondary-background
{
    background-color: var(--secondary-background);
}

.hidden
{
    display: none;
}

.error-border
{
    border-color: var(--error-border-color) !important;
}

.error-text
{
    color: var(--error-border-color) !important;
}

.error-background
{
    background-color: var(--error-color) !important;
}

.link
{
    color: var(--link-color);
    text-decoration: none;
}

.link:hover
{
    text-decoration: underline;
}